<div class="container">
  <h2>Monthly Expense Summary</h2>
  <div class="d-flex justify-content-end mb-3">
    <select (change)="onYearChange($event)" class="form-control w-auto">
      <option *ngFor="let year of years" [value]="year" [selected]="year === selectedYear">{{ year }}</option>
    </select>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Month</th>
        <th>Total Expense</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="monthlyExpenses$ | async as monthlyExpenses">
        <tr *ngFor="let expense of monthlyExpenses">
          <td>{{ expense.month }}</td>
          <td>{{ expense.total | currency }}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>