<div class="modal" id="myModal" tabindex="-1" role="dialog" [ngClass]="{'show': true}" [ngStyle]="{'display': 'block'}">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Expense</h5>
        </div>
        <div class="modal-body">
          <form [formGroup]="expenseForm">
            <div class="form-group">
              <label for="type">Type</label>
              <select class="form-control" formControlName="type">
                <option *ngFor="let type of taskList" [value]="type">{{type}}</option>
              </select>
              <div *ngIf="expenseForm.get('type')?.touched && expenseForm.get('type')?.invalid" class="text-danger">
                Type is required.
              </div>
            </div>
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" class="form-control" formControlName="title" placeholder="Title">
              <div *ngIf="expenseForm.get('title')?.touched && expenseForm.get('title')?.invalid" class="text-danger">
                <div *ngIf="expenseForm.get('title')?.errors?.['required']">Title is required.</div>
                <div *ngIf="expenseForm.get('title')?.errors?.['minlength']">Title must be at least 6 characters.</div>
              </div>
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <input type="text" class="form-control" formControlName="description" placeholder="Description">
              <div *ngIf="expenseForm.get('description')?.touched && expenseForm.get('description')?.invalid" class="text-danger">
                <div *ngIf="expenseForm.get('description')?.errors?.['required']">Description is required.</div>
                <div *ngIf="expenseForm.get('description')?.errors?.['minlength']">Description must be at least 15 characters.</div>
              </div>
            </div>
            <div class="form-group">
              <label for="date">Date</label>
              <input type="date" class="form-control" formControlName="date" [max]="maxDate" [min]="minDate">
              <div *ngIf="expenseForm.get('date')?.touched && expenseForm.get('date')?.invalid" class="text-danger">
                <div *ngIf="expenseForm.get('date')?.errors?.['required']">Date is required.</div>
                <div *ngIf="expenseForm.get('date')?.errors?.['dateRange']">Date must be within the past 2 months.</div>
              </div>
            </div>
            <div class="form-group">
              <label for="amount">Amount</label>
              <input type="number" class="form-control" formControlName="amount" placeholder="Amount">
              <div *ngIf="expenseForm.get('amount')?.touched && expenseForm.get('amount')?.invalid" class="text-danger">
                <div *ngIf="expenseForm.get('amount')?.errors?.['required']">Amount is required.</div>
                <div *ngIf="expenseForm.get('amount')?.errors?.['pattern']">Amount must be a number.</div>
                <div *ngIf="expenseForm.get('amount')?.errors?.['min']">Amount must be positive.</div>
              </div>
            </div>
            <div class="form-group">
              <label>Tags</label>
              <div formArrayName="tags">
                <div *ngFor="let tag of tags.controls; let i = index" [formGroupName]="i" class="input-group mb-2">
                  <input type="text" class="form-control" formControlName="key" placeholder="Tag Key">
                  <input type="text" class="form-control" formControlName="value" placeholder="Tag Value">
                  <div class="input-group-append">
                    <button type="button" class="btn btn-danger" (click)="removeTag(i)">-</button>
                  </div>
                </div>
              </div>
              <button type="button" class="btn btn-primary" (click)="addTag()">+</button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="saveExpense()">Save</button>
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
        </div>
      </div>
    </div>
  </div>